---
import { Image } from "astro:assets";
import { images } from "../../../public/images/images";

import { optionsNavbar } from "../../config/navbarOptions"

---

<section
  class="fixed h-full w-[350px] flex-col border-2 border-[#ECEFF5] px-[30px] pt-[30px]"
>
  <div class="flex justify-between">
    <div class="flex items-center gap-3">
      <Image src={images.iconNavbar} width={30} alt="Icon" />
      <span class="text-2xl font-bold text-fontColor">EcuExport</span>
    </div>
    <Image src={images.barsNavbar} width={30} alt="Alt" class="opacity-60" />
  </div>

  <span class="mb-4 mt-[30px] block text-tw-gray"
    >MENÚ PRINCIPAL</span
  >
  <nav class="flex flex-col">
     {
          optionsNavbar.map((option)=>(
               <a href={option.href} class="option flex gap-2 rounded-lg px-3 py-3 duration-200 hover:bg-primary-500 active:bg-primary-600 text-[#818FA7] hover:text-white">
                    <Image src={option.image} width={30} alt="Alt" class="icon-navbar"/>
                    <span class="font-normal ">{option.title}</span>
                    
                </a>
          ))
     }

  </nav>
</section>

<style scoped>
     .icon-navbar {
       filter: brightness(0) invert(0.7);
       transition: filter 0.3s ease;
     }
   
     .option:hover{
          .icon-navbar{
            filter: brightness(0) invert(1);
          }
     }
   </style>